---
- name: Configure FreeRADIUS Server
  hosts: radius-server
  become: true

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
    - name: Install FreeRadius
      ansible.builtin.apt:
        name:
          - freeradius
          - freeradius-utils
        state: present

